.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 110%;
  /* margin-top: 100px; */
  background-color: rgb(186, 218, 231);
  /* margin-top: 500px; */
  height: 60px;
  z-index: 100;
}
.footer h4 {
  font-style: italic;
  font-weight: 700;
  padding-left: 10px;
}
.gotop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  font-size: 50px;
  cursor: pointer;
  transition: all 0.5 linear;
  z-index: 101;
}
.link {
  line-height: 30px;
}
.link a:hover {
  color: #fff;
}
.recruit{
  padding-right: 30px;
}
.recruit a:hover{
  color: #fff;
  cursor: pointer;
}