.navbar {
  height: 50px;
  line-height: 50px;
  background-color:skyblue;
  
}
.navbar .navul {
  height: 50px;
}
.navbar .navul>li{
  float: left;
  width: 20%;
  font-size: 14px;
  
  
}
.navbar .navul>li a{
  color: #fff;

}
