.navbar {
  height: 50px;
  line-height: 50px;
  background-color:skyblue;
}
.navbar .navul {
  height: 50px;
}
.navbar .navul>li{
  float: left;
  width: 20%;
  height: 49px;
}
.navbar .navul>li a{
  color: #fff;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 16px;
  margin-top: -1px;
}
.navbar .navul>li a:hover{
  color: skyblue;
  background-color: #F0F8FF;
}
/* .navbar .navul>li a.active {
  color: skyblue;
  background-color: #fff;
} */
.selected {
  background-color: #F0F8FF;
}
.selected span{
  color: skyblue;
}